@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
p {
    font-weight: 400;
    color: hsl(220, 15%, 55%)
}

h2 {
    color: hsl(218, 44%, 22%)
}

.container {
    max-width: 400px;
    margin: auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 17px;
    margin-bottom: 20px;
    width: 78%;
}

.card img{
    width: 100%;
    border-radius: 17px;
}

.text {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.text h2 {
    margin-bottom: 10px;
    padding-bottom: 4px;
}
